.settings
CMakeFiles
generated
pico-sdk
pioasm

dis
elf2uf2

.cproject
.project
Makefile
cmake_install.cmake
*.elf
*.map
*.lst
*.txt

#*.uf2


_deps
picotool
pioasm-install

*.ninja*.*
build.ninja
*.ld

*.dis
*.hex
*.bin

makefile

CMakeCache.txt
/build/

*.cmd
*.sh

git_status.lst
